body{
    position: relative;
    width: 100%;
    height: 900px;
    background: linear-gradient(180deg, rgba(255, 153, 0, 0.63) 0%, rgba(255, 100, 0, 0.63) 100%);

}

.login-container{
    display: grid;
    position: absolute;
    width: 40%;
    height: 556px;
    left: 30%;
    top: 70px;
    background-color: #FFFFFF;
    border-radius: 20px;
    align-items:center;
    
    
}

.login-container .form-container {
    width:70%;
    margin: 0 15%;
}

.login-container .form-container .login_name{
    position: relative;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    width: 50%;
    left:25%;

    
}


.login-container .form-container .error{
    box-sizing: border-box;
    position: relative;
    width:100%;
    height: 40px;

    background: #FFFFFF;
    border-radius: 5px;
    font-size: 17px;
    padding-left: 12px;

}

.login-container .form-container input,select{
    box-sizing: border-box;
    position: relative;
    width:100%;
    height: 40px;
    background: #FFFFFF;
    border-radius: 5px;
    border: solid 2px #F7AC1A ;
    font-size: 17px;
    padding-left: 12px;

}

.login-container .form-container .submit{
   background: linear-gradient(180deg, #F7931A 0%, #F7AC1A 100%);
   cursor:pointer;
   width:60%;
   left:20%;
   margin-top:30px;
   font-weight:700;
}